a{
    
    color: blue;
}



#content_main{
        margin: 0 auto;
        width: 80%;
        font-family: ubuntu;
        color: #002603;
        font-size: 16px;
}

#content_warning{
        margin: 0 auto;
        width: 80%;
        font-family: ubuntu;
        color: white;
        font-size: 16px;
}

body {
    font-size: 16px;
    background-color: #80f96b;
}

#flash {
    animation: 5s linear infinite warning_bg;
    
}

#images_div{
    width: 600px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    display: block;

}

main {
    margin: 0 auto;
    width: 80%;
}

img{
    border: 5px solid black;
}

.topimg{
    height: 230px;
    margin: 0 auto;
    position: relative;
    float: left;
    margin: 20px;
    display: block;
    border: 5px solid White;
}

.indexImage{
    height: 250px;
    margin: 0 auto;
    position: relative;
    display: block;
    border: 5px solid Red;
    
}
.topgif{
    position: absolute;
    margin: 20px;
    top: 0px;
    right: -20px;
    height: 230px;
    border: 5px solid White;
}

#index_0{
    color: red;
    font-size: 20px;
    animation:1s linear infinite animated_text;
}

#index_1{
    color: red;
    font-family: comic sans ms;
    font-size: 32px;
    text-align: center;
}

#index_2{
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 300px;
    
}
#index_2:hover{
    color: pink;
    animation: 1s linear infinite rgbtext;
}

#index_3 {
    text-align: center;
    font-size: 32px;
    
    
}

#index_3 {
    animation: 5s linear infinite rgbtext;
}

#index_6 {
    text-align: center;
    height: 30px;
    width: 100%;
    
    animation: 1s linear infinite randomgreeting;
}



#warning_0{
    position: absolute;
    z-index: -2;
    left: 15px;
    
}

#warning_1{
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 300px;
    color: white;
}

#warning_2{
    text-align: center;
    font-size: 32px;
    
}

#warning_4{
    text-align: center;
    
}

/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/games/gam-12/gam1113.cur), progress !important;} /* End http://www.cursors-4u.com */

@keyframes rgbtext {
    00% {
        color: red;
    }
    25% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: red;
    }
    
}


@keyframes warning_bg {
    00% {
        background-color: #ff0000;
    }
    25% {
        background-color: #00ff00;
    }
    75% {
        background-color: #0000ff;
    }
    100% {
        background-color: #ff0000;
    }
}

@keyframes animated_text {
    00% {
        color: lightblue;
    }
    50% {
        color: black;
    }
    100% {
        color: lightblue;
    }
}

@keyframes randomgreeting {
    00% {
        font-size: 16px;
    }
    50% {
        font-size: 20px;
    }
    100% {
        font-size: 16px;
    }
}